<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-7 bg-white border-bottom shadow-sm">
        <a href="{% url 'main_page' %}"><img src="/static/blog/pasha_teqnik_logo.png" alt="говно не прогрузилось"></a>
      <nav class="my-2 my-md-0 me-md-3">
          <a class="p-2 text-dark " href="{% url 'news' %}">Новости</a>
          <a class="p-2 text-dark" href="#">Биография</a>
          <a class="p-2 text-dark" href="{% url 'tickets' %}">Биллеты на концерт</a>
          <a class="p-2 text-dark" href="#">Контакты</a>
      </nav>
    </header>
    <h1>Павел Николаевич Ивлев</h1>
    <p>более известный под сценическим псевдонимом Паша Техник — российский хип-хоп-исполнитель, один из основателей группы Kunteynir. Известен своим эпатажным поведением и нарочито провокационным творчеством с обилием нецензурной лексики; часто называется одним из наиболее значительных рэперов в хип-хоп-андеграунде России.</p>
    <h2>От автора</h2>
    <p>сайт посвещен великой царице русского репа.</p>
</body>
</html>
